* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

head {
    font-weight: bolder;
}

body {
    background-color: lightgray;
}

header, footer {
    background-color: lightblue;
    width: 100%;
    height: 100%
}

.subtitle-text {
    font-weight: bolder;
}

#about-me {
    background-color: lightgray;
}

#work {
    background-color: lemonchiffon;
}

#contact-me {
    background-color: lightblue;
    font-weight: bolder;
}

#resume {
    background-color: lightblue;
}